.DivBarra {
    text-align:center;
    margin: auto;
    padding-bottom: 5%;
}

.DivBarra li {
    display: inline;
}

.DivBarra li a {
    font-family: robotoBold, Arial, helvetica;
    font-size: 18px;
    text-decoration: none;
    padding: 1%;
    background-color: red;
    color: #fff;
}

.DivBarra li a:hover {
    background-color: #E32727;
    margin-top: -2;
    padding-bottom: 12px;
}

.TextoIzquierda{
    float: left;
    width: 30%;
}

.TextoDerecha{
    float: right;
    width: 60%;
}