input[type="button"]:hover{
    background-color:slategray;
}

form{
    background-color: #484848;
    padding-left: 11px;
    text-align: center;
    height: 500px;
    width: 380px;
    
}

input[type="text"]{
    background-color:#cddecc;
    border:0px;
    width:337px;
    height: 40px;
    font-size: 20px;
    color: white;
    text-align: right;
    margin-right:9px;
}

input[name="txtcaja2"]{
    font-family: digital;
    margin-top: 5%;
    font-size: 26px;
    color:black;
}

input:focus{
    outline: none;
    cursor: pointer;
}

input[name="txtcaja"]{
    font-family: digital;
    font-size: 26px;
    color:black;
}

input[type="button"]{
    font-size: 18px;
    font-weight: lighter;
    font-family: digital;
    width:60px;
    border:0px;
    height: 60px;
    color: black;
    background-color:#eeeeee;
    margin-right: 20px;
    margin-left: 10px;
}

input[name="CERO"]{
    font-size: 19px;
    font-weight:lighter;
    float:left;
    width: 160px;
    margin-right: 20px;
}

body{
    background-color:#f1f1f1;
}